.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.work-bubble {
  float: right;
  padding-right: 20px;
  width: auto;
  height: 100px;
}

.work-title {
  font-size: 1.1em; /* Adjust the size as needed */
}
.work-date {
  font-size: 0.8em; /* Adjust the size as needed */
}


.publication-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.publication-teaser {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  width: auto;
  max-width: 300px;
  height: auto;
  border-radius: 4px;
}

.publication-title {
  font-size: 1em; /* Adjust the size as needed */
  font-weight: bold;
}

.publication-authors {
  font-size: 1em; /* Adjust the size as needed */
  font-style: italic;
}

.publication-status {
  font-size: 0.9em; /* Adjust the size as needed */
  color: #777;
}

.publication-links {
  margin-top: 10px;
}

.publication-links a {
  font-size: 0.9em;
  margin-right: 15px;
  color: #333;
  text-decoration: underline;
}

.publication-links a:hover {
  color: #95B2F7;
}

.work-links a {
  font-size: 1.5em;
  margin-right: 15px;
  color: #333;
  text-decoration: none;
}

.work-links a:hover {
  color: #95B2F7; /* 호버 색상 */
}
